!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title= content_for(:title) || "Be The Golf"
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }
    %meta{ content: "yes", name: "apple-mobile-web-app-capable" }
    %meta{ content: "Be The Golf", name: "application-name" }
    %meta{ content: "yes", name: "mobile-web-app-capable" }
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{ rel: "preconnect", href: "https://fonts.googleapis.com" }
    %link{ rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true }
    -# haml-lint:disable LineLength
    %link{ href: "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@600;700;800&display=swap", rel: "stylesheet" }
    %link{ href: "/icon.png", rel: "icon", type: "image/png" }
    %link{ href: "/icon.svg", rel: "icon", type: "image/svg+xml" }
    %link{ href: "/icon.png", rel: "apple-touch-icon" }
    = vite_client_tag
    = vite_javascript_tag 'entrypoints/application.tsx'
  %body
    #app
    = yield
